<header>
    <nav class="inline ">
        <a href="/" class="main-text">Mybrary</a>
        <ul class="inline topbar">
            <li ><a href="/authors" class="elementpadd">Authors</a></li>
            <li ><a href="/authors/new" class="elementpadd">Add Authors</a></li>
            <li><a href="/books" class="elementpadd">Books</a></li>
            <li><a href="/books/new" class="elementpadd">Add Books</a></li>
        </ul>
    </nav>
</header>